# Requerimientos base para el proyecto

# ETL y manipulación de datos
pandas
numpy
requests
datetime

# Machine Learning
scikit-learn

# Visualización y dashboards
matplotlib
seaborn
plotly
streamlit

# Backend/API
fastapi
uvicorn
json

# Otros
tqdm
